<!doctype html>
<html lang="en" ng-app="myApp">
<head>

    <meta charset="utf-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
    <title>Book cheap hotels</title>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon.png"/>
    <link type="text/css" rel="stylesheet" href="resources/css/styles.css" media="all" />
    <link rel="stylesheet" href="resources/css/bootstrap.css" />
    <link rel="stylesheet" href="resources/css/app.css" />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
      <script src="resources/js/angular/angular.js"></script>
<script src="resources/js/angular/angular-route.js"></script>
         
        
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <!--  
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
    
  
	<script src="resources/js/app.js"></script>
	<script src="resources/js/service/ItemService.js"></script>
	<script src="resources/js/controller/ItemListController.js"></script>
   
    

<!-- 	<base href="/Spring4MVCAngularJSRoutingExample/index.html" />  -->
<style>

.popover {
  position: absolute;
  z-index: 100;
}

table:hover{background:#fff}
body:hover{background:#fff}
</style>
</head>
<body>
		
	<div class="generic-containerx">
		<h1 style="margin: 0;background:#0c3d72;color:#fff;padding:10px"><img height="70" src="resources/images/logo.png"/></h1>
		<div class="panel panel-default" style="height:470px;background:url(resources/images/bgimg.jpg); background-size: cover;">
			<!-- Default panel contents -->
		   
		    <form ng-controller="SubmissionController" name="searchForm" ng-submit="submitForm()">
		    
		     <div style="padding:10px;height:210px;opacity:.9;min-width:300px;width:20%;position:relative;top:100px;margin:auto;background:#fff">
		   
		     
		     <label>Destination 
		      <input style="height:30px;width:100%" class="ac_input city_input" ng-required="true" ng-value="searchTerm"  path="CityAJaxH" placeholder="Enter destination" ng-model="searchTerm" type="search" id="CityAjaxH" name="CityAjaxH" required/>
		      </label>
		      <br/>
		     <label>Check-in date
		      		      <input style="cursor:pointer;height:30px; ng-value="from |asDate| date:'dd/MM/yy'" ng-model="from |asDate| date:'dd-MM-yyyy'" name="from"  id="from" class="date-input" required data-readonly/>
		       
		      </label>
		      <br/>
		      
		     <label>Nights to stay
		       <select ng-init="nights = 1" style="height:30px;" id="nights" ng-model="nights" ng-options="n for n in [] | range:1:29"></select>
		      
		      
		      </label>
		       
		      <input type="hidden" id="hotelId">
			 <input type="hidden" id="CityAjaxH2">
			 <input type="hidden" id="CityLocal">
		      <br/><br/>
		     <!-- 
		     <div style="margin:auto;">
		      <a href="#/items/hotels/{{searchTerm}}/from/{{nights}}" style="background:#1e90ff;color:#fff;padding:10px;font-size:14pt;">Search</a>
		     </div>
		     -->
		     <!-- 
		      <a href="#" onclick="location.href='#/items/hotels/'+$('#CityAjaxH').val()+'/'+$('#from').val()+'/'+$('#nights').val();" style="background:#1e90ff;color:#fff;padding:10px;font-size:14pt;">Search2</a>
		      <a href="#/items/hotels/{{searchTerm}}/{{sdateh}}/{{nights}}" style="background:#1e90ff;color:#fff;padding:10px;font-size:14pt;">Search2</a>
		      -->		   
              <button style="margin-left:100px;background:#1e90ff;color:#fff;padding:5px;font-size:14pt;" ng-click="buttonClicked = true">Search</button>
              
 
             
         </form>
		      
		
		     
		 
	</div>
        <br/>
	    </div>
	    <div ng-view></div>
 

<script src="resources/js/controller/ItemListController.js"></script>
<script src="resources/js/controller/ItemDetailsController.js"></script>
<script type="text/javascript" src="resources/js/development-bundle/jquery-1.6.2.js"></script>  
<script type="text/javascript" src="resources/js/development-bundle/ui/jquery.ui.core.js"></script>  
<script type="text/javascript" src="resources/js/development-bundle/ui/jquery.ui.datepicker.js"></script>  
<script type="text/javascript" src="resources/js/development-bundle/jquery.autocomplete.js"></script>  

<script>
$(function() {  var dates = $( "#from" ).datepicker({  defaultDate: "+1w",  showOn: "both",  changeMonth: true,  buttonImageOnly: true,  numberOfMonths: 2,  dateFormat:'dd/mm/y',  onSelect: function( selectedDate ) {  var option = this.id == "from" ? "minDate" : "maxDate",  instance = $( this ).data( "datepicker" ),  date = $.datepicker.parseDate(  instance.settings.dateFormat ||  $.datepicker._defaults.dateFormat,  selectedDate, instance.settings );  dates.not( this ).datepicker( "option", option, date );  }  });  });     

function findValue(li) {  if( li == null ) return alert("No match!");     if( !!li.extra ) var sValue = li.extra[0];     else var sValue = li.selectValue;  if (document.getElementById('CityAjaxH2')!=null){  document.getElementById('CityAjaxH2').value = li.extra[1];  }    }    
function selectItem(li) {  findValue(li);  }    
function formatItem(row) {      if (document.getElementById('CityAjaxH2')!=null){  document.getElementById('CityAjaxH2').value = '';  }  return row[1] ;  }    
function lookupAjax(){   var oSuggest = $("#CityAjaxH")[0].autocompleter;  oSuggest.findValue();  return false;  }    
function lookupLocal(){    var oSuggest = $("#CityLocal")[0].autocompleter;  oSuggest.findValue();    return false;   }  
$("#CityAjaxH").autocomplete(  "item/autoComplete",  {  delay:10,  minChars:3,  matchSubset:1,  matchContains:3,  cacheLength:0,  onItemSelect:selectItem,  onFindValue:findValue,  formatItem:formatItem,  autoFill:false  }  );     



</script> 
</body>
</html>
