<div class="generic-container">
	<div class="panel panel-default">
		<!-- Default panel contents -->
	    <div class="panel-heading"><span class="lead"><span  class="htlname">{{itemDetailsCtrl.item.data.hotelSummary.name}}</span></span></div>
	    <div class="tablecontainer">
	    	<table class="table table-hover">
	            
	            <tbody>
	                <tr>
	                   <td> 
	                    <table>
	                      <tr>
	                        <td valign="top" style="width:1%"><img src="{{itemDetailsCtrl.item.data.hotelImages.Images[0].url}}"/></td>
	                         <td valign="top">
	                            
	                            <img src="{{itemDetailsCtrl.item.data.hotelSummary.tripAdvisorRatingUrl}}"/>
	                            <br/>
	                            {{itemDetailsCtrl.item.data.hotelSummary.address1}}<br/>
	                            {{itemDetailsCtrl.item.data.hotelSummary.postalCode}}<br/>
	                            {{itemDetailsCtrl.item.data.hotelSummary.locationDescription}}<br/>
	                            {{itemDetailsCtrl.item.data.hotelSummary.city}}<br/>
	                            {{itemDetailsCtrl.item.data.hotelSummary.countryCode}}<br/>
	                         </td>
	                      </tr>
	                      <tr>
	                        <td colspan="2">
	                        {{itemDetailsCtrl.item.data.hotelSummary.propertyDescription}}
	                        </td>
	                      </tr>
	                      
	                      
	                      <tr>
	                         <td colspan="2"><br/>	                             
                                 <img ng-repeat="img in itemDetailsCtrl.item.data.hotelImages.Images" src="{{img.thumbnailUrl}}"/>
	                         </td>
	                          	                          
	                      </tr>
	                      <tr ng-repeat="room in itemDetailsCtrl.item.data.hotelRooms.hotelRoomDetails">
	                         <td>                             
                                 {{room.description}}  
	                         </td>
	                         <td>                             
                                 {{room.descriptionLong}}
	                         </td>
	                          
	                         
	                      </tr>
	                      
	                    </table>
	                    </td>
	                    
	                </tr>
	            </tbody>
			</table>
		</div>
	</div>
</div>