<div class="generic-containerx">
	<div class="panel panel-defaultx"> 
		<!-- Default panel contents -->
	    <div class="panel-heading"><span class="lead" style="font-weight:bold">
	    {{itemDetailsCtrl.item.data.hotelSummary.name}}	<img src="resources/images/{{itemDetailsCtrl.item.data.hotelSummary.hotelRating}}.png"/>     
	    <img src="{{itemDetailsCtrl.item.data.hotelSummary.tripAdvisorRatingUrl}}"/>
	    </span>
	    <br/>
	    {{itemDetailsCtrl.item.data.hotelSummary.address1}}
	     {{itemDetailsCtrl.item.data.hotelSummary.postalCode}},
	      {{itemDetailsCtrl.item.data.hotelSummary.city}},
	      {{itemDetailsCtrl.item.data.hotelSummary.countryCode}}
	      
	    <a href="" style="color:#222">Back to results</a></div>
	    <div class="tablecontainerx">
	    
	    	<table class="table table-hover">
	            
	            
	            <tbody>
	                <tr>
	                   <td> 
	                    <table>
	                      <tr>
	                        <td valign="top" style="width:1%"><img src="{{itemDetailsCtrl.item.data.hotelImages.Images[1].url}}"/></td>
	                         <td valign="top">
	                            <table style="background:#eee">
	                              <tr ng-repeat="rate in itemDetailsCtrl.item.data.roomrates"  ng-if=" $index < 2 " ng-init="outerIndex = $index">
	                              <td>
	                              <table width="100%">
	                              <tr>
	                               <td style="padding:5px;font-weight:bold;font-size:11pt;">
	                                   {{rate.ratedescription}}
	                                   <span style="font-weight:normal;color:green;font-size:10pt" ng-repeat="vs in rate.valueadds">
	                                      <span ng-repeat="v in vs">
	                                        <br/>{{v.description}}
	                                       </span>
	                                      
	                                   </span>
	                               
	                               </td>
	                               <td></td>
	                               <td align="right">
	                                 <span ng-repeat="rinfo in rate.roomrateinfos">
	                                     
	                                    <span class="price" ng-repeat="r in rinfo">
	                                    
	                                     {{r.chargeablerates.currencycode}} {{r.chargeablerates.total}}
	                                    </span>
	                                    <br/>including taxes & fees
	                                 </span>
	                                 <br/>
	                                 
	                                 <a href="#/items/booking/{{itemDetailsCtrl.item.data.hotelSummary.hotelid}}" class="booknow">Book now</a>
	                               </td>
	                               <tr>
	                                   <td colspan="3">
                                           <a href="" ng-click="checked=(checked ? false : true)">
                                               <span style="font-weight:normal;font-size:10pt; class="roomname">See cancellation policy</span>  
	                                       </a>
	                                      
	                                          <span ng-repeat="rinfo in rate.roomrateinfos">
	                                      
	                                               <span class="price" ng-repeat="r in rinfo">	                                    
	                                                 
	                                                 <div style="font-weight:normal;font-size:10pt;color:#222" class="check-element animate-show-hide" ng-show="checked" ng-bind-html=" r.cancellationPolicy  | trusted"/>
	                                               </span>
	                                    
	                                         </span>
	                                       
	                                       
                                       </td>
	                               </tr>
	                               <tr>
	                               <td colspan="3" style="background:#fff;height:2px">&nbsp;</td>
	                               </tr>
	                                
	                               </table>
	                              </td> 
	                              </tr>
	                              
	                            </table>
	                            
	                         </td>	                        
	                      </tr>
	                      <tr>
	                        <td colspan="2">
	                        <span ng-bind-html=" itemDetailsCtrl.item.data.hotelDetails.checkInInstructions  | trusted">
	                        </span>	                      
	                        </td>
	                      </tr>
	                      
	                      
	                      <tr>
	                         <td colspan="2" valign="top"><br/>	                             
                                 <img width="50" style="padding:5px" ng-repeat="img in itemDetailsCtrl.item.data.hotelImages.Images" src="{{img.thumbnailUrl}}"/>
	                         </td>
	                          	                          
	                      </tr>
	                      <tr>
	                         <td colspan="2" valign="top"><br/>	                             
                                <span class="titleheading">Following types of rooms are available at {{itemDetailsCtrl.item.data.hotelSummary.name}}
                                </span>   
	                         </td>
	                          	                          
	                      </tr>

	                      <tr ng-repeat="room in itemDetailsCtrl.item.data.hotelRooms.hotelRoomDetails">
	                         <td valign="top" colspan="2">  	                                                   
                                <a href="" ng-click="checked=(checked ? false : true)">
                                <span class="roomname"> {{room.description}}</span>  
	                             </a>
	                         
	                         <br />	                            	                         
	                            <div class="check-element animate-show-hide" ng-show="checked" ng-bind-html=" room.descriptionLong  | trusted">
	                            

                             </div>

	                                        
	                         </td>
	                          
	                         
	                      </tr>
	                      
	                    </table>
	                    </td>
	                    
	                </tr>
	            </tbody>
			</table>
		</div>
	</div>
</div>