<div class="generic-containerx">
	<div class="panel panel-defaultx">
		<!-- Default panel contents -->
	    <div class="panel-heading"><span class="lead">Search results</span></div>
	    <div class="tablecontainer">
	    	<table class="table table-hover">
	            
	            <tbody>
	                <tr ng-repeat="item in itemListCtrl.items.data">
	                   <td style="border-bottom:thin dashed #1e90ff"> 
	                    <table> 
	                      <tr>
	                         <td>
	                         <span  class="htlname">{{item.name}}</span>
	                         <br/>{{item.address1}} {{item.postalcode}}, {{item.city}}
	                         </td>
	                      </tr>
	                      <tr>
	                         <td valign="top" width="1%"><img style="border:thin solid #1e90ff;padding:1px" src="http://images.lowestroomrates.com{{item.thumbnailurl}}"/></td>
	                         <td valign="top" style="padding:5px;font-weight:bold">
	                         <img src="{{item.tripadvisorratingurl}}"/><br/>
	                      <img src="resources/images/{{item.hotelrating}}.png"/><br/>
	                      <p style="font-weight:normal">
	                      {{item.roomrates.hotelroomavailinfos[0].roomdescription}} for {{item.roomrates.hotelroomavailinfos[0].maxroomoccupancy}}<br/>
	                          <span ng-bind-html=" item.locationdescription  | trusted"></span>
	                          <br/>
	                          
	                          <br/>
	                          <span style="color:#B40404">{{item.roomrates.hotelroomavailinfos[0].valueadds.roomratevalueAdds[0].description}}</span>
	                          <p>
	                          <span style="font-weight:normal" ng-bind-html=" item.shortdescription  | trusted"></span>
	                           
	                          </td>

	                          
	                         
	                      </tr>

	                    </table>
	                    </td>
	                         <td valign="top"><span  class="price">{{item.lowrate}}</span><br/>
	                           <a class="booknow" href="#/items/hotels/details/{{item.hotelid}}">See&nbsp;details</a>
	                         </td>
	                </tr>
	            </tbody>
			</table>
		</div>
	</div>
</div>